/*   Глобальный стиль   ===================================================================================   */
::selection {  /*  Выделенный пользователем текст  */
  background: #0066db;
  color: #ffffff;
}

*{
  padding:0;
  margin:0;
}
